/* Separé el css de main.html y msj.html de los otros para poder darle otro fondo y no choquen codigos*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{ 
    display: grid;
    width: 100%;
    height: 100%;
}
.msjfondo{
    display: grid;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom right,
        #ecf0e9 0%,
        #c3dfdb 20%,
        #a1cadf 40%,
        #6895bd 60%,
        #bdcee9 80%
    );
    background-size: 200% 400%;
    animation: movimiento 5s  infinite alternate;
}
@keyframes movimiento {
    from{
        background-position: 0 0 ;
    }
    to{
        background-position: 100% 50%;
    }
}
/* Parte del main.html y msj.html */
.todo-2{
    width: 100%;
    background-color: #00000080;
    padding: 30px;
    margin: auto;
    margin-top: 0px;
    border-radius: 0px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    color: white;
    box-shadow: 0px 5px 5px 0px#7a7a7a;
    
}
.fondouni{
    background: url(../img/ejemplo.png);
    background-position: center;
    background-size: 100%;
    background-attachment: contain;
    background-size: cover;
}
.pnf{
    text-align: center;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}
.msj{
    width: 30%;
    background-color: #37418a;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    color: white;
    box-shadow: 0px 5px 5px 0px#ffffff;
    
}
.msjh2{
    margin-left: 20%;
    text-align: center;
}
/* Css del menú del main.html */
.dropmenu{
    margin-left: 1%;
    display: inline-block;
    position: relative;
}
.contenido{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: #3b3edd;
    text-align: center;
    z-index:1;
}
.dropmenu:hover .contenido{
    display: block;
    position: absolute;
}
.cerrarsesion{
    margin-left: 15%;
}
/* //////////////////////////////// */
ul{
    list-style: none;
}

.re{
    font-size: 25px;
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin: 5px;
    cursor: pointer;
}
/* Reutilizable*/
.usericon{
    color: white;
    font-size: 30px;
    margin: 10px;
    background-color: #2f3775;
    border-radius: 10px;
    display: flex;
    cursor:pointer;
}
h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Urbanist", sans-serif;
}
a{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.blueone{
    color:blue;
}
a:active{
    color: #0051ff;
    text-decoration: underline;
}
.boton{
    width: 100%;
    background-color: #1f1e53;
    color: white;
    border: none;
    padding: 12px;
    margin: 12px 0;
    font-size: 15px;
}
.boton:hover{
    background-color: #11112e;
}
.boton:active{
    background-color: #2e112e;
}
.logo{
    font-family: "Urbanist", sans-serif;
    background-color: #37418a;
    display: flex;
    margin: 0px;
    width: 100%;
    height: 70px;
}
h1{
    color: white;
    margin: 0px;
    padding: 5px;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 35%;
}
.logo img{
    text-align: start;
}
.parrafo{
    text-align: center;
    padding: 5px;
    align-items: center;
    margin: 12px;
    font-size: 20px;
}
h2{
    color: white;
    margin: 0px;
    padding: 5px;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-left: 0%;
}
.titulomain{
    margin: 5px;
    padding: 5px;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}
/* Copypaste para el boton tipo a */
.btn10{
    top: 20px;
    left: 30px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color: #fff;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index: 10;
    
}


.btn10:hover{
    border: 1px solid #0051ff;
    color: #80ffd3!important;
}
.btn10::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #0051ff;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
     box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

.btn10::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
  -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn10:hover::before, .btn1O:hover::before{
  opacity:1;
  width: 116%;
}
.btn10:hover::after, .btn1O:hover::after{
  opacity:1;
  width: 120%;
}
.btn10{
    padding: 15px 100px;
    margin: 10px 5px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
/* //////////////////////////// */
/* Barra de busqueda */
.barradebusqueda{
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: #4954b9;
}
.fieldset{
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 0 0 40px;
}
.buscador, .botondebusqueda{
    position: relative;
    width: 93%;
    height: 50px;
    padding: 0;

    float: left;
}
.buscador{
    border: none;
    color: #333;
    width: 500px;
}
.buscador:focus{
    outline: none;
}
.botondebusqueda{
    width: 50px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    font-size: 20px;
    transform: translate(0px,0);
    transition-duration: 0.8s;
    cursor: pointer;
    
}
.fa-magnifying-glass{
    color: white;
}
.buscador:focus + .botondebusqueda{
    transform: translate(8px,0);
    transition-duration: 0.5s;
}
.buscador:focus + .botondebusqueda .fa-magnifying-glass{
    transform: translate(0,0);
    transition-duration: 0.5s;
}
/* ///////////// */
/* Sección de los pnfslide y proyectos recientes */
.h2list{
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #ff7b3e;
}
.listarecientes{
    font-family: "Urbanist", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}
.proyectosre{
    background-color: #e7e1e1;
    color: #13112e;
}
.list-list{
    font-size: 20px;
    padding: 10px;
}
.sliderframe{
    width: 100%;
    height: auto;
    margin: 0px 0 0;
    overflow: hidden;
}
.sliderframe ul{
    display: flex;
    padding: 0;
    width: 600%;
    animation: slide 19s infinite alternate ease-in-out;
}
.sliderframe li{
    list-style: none;
    width: 100%;
}
.sliderframe img{
    width: 100%;
}
/* Upload.html section */
.upload{
    width: 60%;
    background-color: #4954b9;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    border-radius: 10px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    color: white;
    box-shadow: 7px 13px 37px #818181;
}
.upload h2{
    display: flex;
    justify-content: center;
}
.upload input, label{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4px;
}
.upload select, option, p{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 3px;
}
.archivopdf{
    background-color: #4954b9;
    padding: 5px;
}
.archivopdf:hover{
    background-color: #38408d;
}
.uploadbody{
    background-image: url(https://i.pinimg.com/originals/0c/bf/2f/0cbf2f5c3fb37d033c0bc791ae196dbb.gif);
}
/* ////////////////////// */

@keyframes slide {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}
    
    25%{margin-left: -100%;}
    30%{margin-left: -100%;}
    
    35%{margin-left: -200%;}
    40%{margin-left: -200%;}
    
    45%{margin-left: -300%;}
    50%{margin-left: -300%;}

    55%{margin-left: -400%;}
    60%{margin-left: -400%;}

    65%{margin-left: -500%;}
    70%{margin-left: -500%;}
}

a:hover{
    color: #00e1ff;
    text-decoration: underline;
}

        /* No agarró los cambios en maincss.css los tuve que poner aqui */
    /* search.php */
            /* LOS NUEVOS ESTILOS QUE LE DIÓ DAVID RECIENTE LOS PUSE AQUI YA LOS AGARRÓ*/
    .tablasearch{
        font-family: "Urbanist", sans-serif;
        font-size: 16px;
        background-color: #e7e1e1;
        padding: 10px;
        text-align: center;
        
    }
    .tablasearch td{
        border-bottom: 1px solid black;
        padding-top: 10px;
    }
    
    .center{
        display:flex;
        flex-direction:column;
        width:100%;
        background-color: #4954b9;
    }
    
    .linkupload{
        color: #e7e1e1;
        margin:auto;
        font-family: "Urbanist", sans-serif;
     }
        .linkupload:hover{
            color: blue;
    }
    h2{
        color: #13112e;
        margin: auto;
        font-family: "Urbanist", sans-serif;
    }

    .uplo{
        color: white;
    }

    .colors{
        color:blue;
    }
            /* reporte.php */
        /* ESTILOS DE LOS REPORTES */
    .reportvolver{
        color: #e7e1e1;
        font-family: "Urbanist", sans-serif;
        font-size: 25px;
        }
    
        .back{
            display:flex;
            justify-content:center;
            width:100%;
            background:blue;
            height:35px;
        }
    
        .report{
        font-family: "Urbanist", sans-serif;
        display: flex;
        justify-content: center;
        padding: 5px;
        border-bottom: 1px solid #4954b9;
        }

                    /* felicidades.php,exito.php(exito al editar)*/
        /* ESTILOS DE felicitaciones al subir proyectos */

    .h1feli{
        font-size:25px;
        color: black;
        margin-left:0;

    }

    .afeli{
        color: blue;
        font-size: 25px;
    }
    .centrarfeli{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        /* search.php*/
        /* LA BÚSQUEDA DESAPARECE Y APARECE CON FILTROS*/

    .cont-busq{
        display: none;
    }

    .cont-busq-act{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        width: 100%;
    }

    .buscador-desac{
        display: none;
    }

    .btn-act{
        font-size: 25px;
        cursor: pointer;
        background: #00e1ff;
        font-size: 15px;
        width:150px;
        height:70px;
        border-radius:25%;
        border:none;
        font-family:arial;
        margin:auto;
        margin-top:2px;
        margin-bottom:2px;
    }

    .btn-act:hover{
        background: #9ad9e1;
    }

/* AQUI ES PARA CENTRAR EL BOTON JUNTO AL SUBIR PROYECTO EN SEARCH ADMIN*/
    
    .center-searchadmin{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }