/* Separé el css de main.html y msj.html de los otros para poder darle otro fondo y no choquen codigos*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{ 
    display: grid;
    width: 100%;
    height: 100%;
}
.msjfondo{
    display: grid;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom right,
        #ecf0e9 0%,
        #c3dfdb 20%,
        #a1cadf 40%,
        #6895bd 60%,
        #bdcee9 80%
    );
    background-size: 200% 300%;
    animation: movimiento 5s  infinite alternate;
}
@keyframes movimiento {
    from{
        background-position: 0 0 ;
    }
    to{
        background-position: 100% 50%;
    }
}
/* Parte del main.html y msj.html */
.todo-2{
    width: 100%;
    background-color: #00000080;
    padding: 30px;
    margin: auto;
    margin-top: 0px;
    border-radius: 0px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    color: white;
    box-shadow: 0px 5px 5px 0px#7a7a7a;
    
}
.fondouni{
    background: url(../img/ejemplo.png);
    background-position: center;
    background-size: 100%;
    background-attachment: contain;
    background-size: cover;
}
.pnf{
    text-align: center;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}
.msj{
    width: 30%;
    background-color: #37418a;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    color: white;
    box-shadow: 0px 5px 5px 0px#ffffff;
    
}
/* Css del menú del main.html */
.dropmenu{
    margin-left: 1%;
    display: inline-block;
    position: relative;
}
.contenido{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: #3b3edd;
    text-align: center;
}
.dropmenu:hover .contenido{
    display: block;
}
/* //////////////////////////////// */
ul{
    list-style: none;
}

.re{
    font-size: 25px;
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin: 5px;
}
/* Reutilizable*/
.cerrarsesion{
    margin-left: 20%;
    display: inline;
    margin-top: 5%;
    padding: 5px;
}
h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Urbanist", sans-serif;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #00e1ff;
    text-decoration: underline;
}
a:active{
    color: #0051ff;
    text-decoration: underline;
}
.boton{
    width: 100%;
    background-color: #1f1e53;
    color: white;
    border: none;
    padding: 12px;
    margin: 12px 0;
    font-size: 15px;
}
.boton:hover{
    background-color: #11112e;
}
.boton:active{
    background-color: #2e112e;
}
.logo{
    font-family: "Urbanist", sans-serif;
    background-color: #37418a;
    display: flex;
    margin: 0px;
    width: 100%;
    height: 100px;
}
h1{
    color: white;
    margin: 0px;
    padding: 5px;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 35%;
}
.logo img{
    text-align: start;
}
.parrafo{
    text-align: center;
    padding: 5px;
    align-items: center;
    margin: 12px;
    font-size: 20px;
}
h2{
    color: white;
    margin: 0px;
    padding: 5px;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-left: 0%;
}
.titulomain{
    margin: 5px;
    padding: 5px;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}
/* Copypaste para el boton tipo a */
.btn10{
    top: 20px;
    left: 30px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color: #fff;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index: 10;
    
}


.btn10:hover{
    border: 1px solid #0051ff;
    color: #80ffd3!important;
}
.btn10::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #0051ff;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
     box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

.btn10::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
  -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn10:hover::before, .btn1O:hover::before{
  opacity:1;
  width: 116%;
}
.btn10:hover::after, .btn1O:hover::after{
  opacity:1;
  width: 120%;
}
.btn10{
    padding: 15px 100px;
    margin: 10px 5px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
/* //////////////////////////// */
/* Barra de busqueda */
.barradebusqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #5c5ec9;
}

