*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/* Recordatorio de hacer un mejor background */
body{ 
    display: grid;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom right,
        #ecf0e9 0%,
        #c3dfdb 20%,
        #a1cadf 40%,
        #6895bd 60%,
        #bdcee9 80%
    );
    background-size: 200% 200%;
    animation: movimiento 5s  infinite alternate;
}
@keyframes movimiento {
    from{
        background-position: 0 0 ;
    }
    to{
        background-position: 100% 50%;
    }
    
}
/* Inicio, esto comparte clases reclicladas con index.html y register.html */
.todo{
    width: 400px;
    background-color: #37418a;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    border-radius: 4px;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    color: white;
    box-shadow: 7px 13px 37px #ffffff;
    
}
::placeholder{
    color: #23314e;
}
h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Urbanist", sans-serif;
}

/* Parte del register */
.hola{
    width: 100%;
    background-color: #a3bcf8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #A8CD9F;
    font-family: 'calibri';
    font-size: 15px;
}
/* ///////////////////////////// */
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #00e1ff;
    text-decoration: underline;
}
a:active{
    color: #0051ff;
    text-decoration: underline;
}
/* Boton de inicio de sesion etc (se puede reciclar)*/
.boton{
    width: 100%;
    background-color: #1f1e53;
    color: white;
    border: none;
    padding: 12px;
    margin: 12px 0;
    font-size: 15px;
}
.boton:hover{
    background-color: #11112e;
}
.boton:active{
    background-color: #2e112e;
}
.logo{
    font-family: "Urbanist", sans-serif;
    background-color: #37418a;
    display: flex;
    margin: 0;
    width: 100%;
    height: 90%;
    text-align: center;
    align-items: center;
}
h1{
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 18%;
}
.logo img{
    text-align: start;
}
.parrafo{
    text-align: center;
    padding: 5px;
    align-items: center;
    margin: 12px;
}
/* Seccion para el sexo */
.gen{
    align-items: center;
    margin: 0px 50px;
    padding: 0;
    padding-bottom: 0px;
    text-align: center;
    background-color: #a3bcf8;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #000000;
    font-family: 'calibri';
}
/* Boton del register.html */
.botonregreso{
    width: 100%;
    background-color: #1f1e53;
    color: white;
    border: none;
    padding: 12px;
    margin: 12px 0;
    font-size: 15px;
}
.botonregreso:hover{
    background-color: #11112e;
}
.botonregreso:active{
    background-color: #2e112e;
}
/* //////////////// */

/* FOOTER */
footer{
    background: #37418abd;
    margin-top: 200px;
    height: 200px;
    font-family: "Urbanist", sans-serif;
}
.container{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 30%;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 2px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #30baf1;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
.social-icons i:hover{
    color: #309af1;
}
.bottom-bar{
    background: #aaaaaa;
    text-align: center;
    padding: 10px 0;
    margin-top: 0px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
.footerh3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}
/* ///////////////////////// */
